@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@300;400;600;700&family=Roboto:wght@300;400;500&display=swap');
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin: 0;
  min-height: 100vh;
}

.footer{
  position: sticky;
  top: 100%;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.footer p{
  font-size: 0.2rem;
}