
.home-page{
    text-align: left;
}

.home-page h4{
    padding-left: 10px;
    font-weight: 800;
}

.home-deals{
    display: flex;
}

.home-deals-text{
    flex: 60;
}

.home-deals-filter{
    flex: 40;
    text-align: right;
}

@media (min-width: 1025px){

.home-feed-section{
    width: 90%;
    margin: 0 auto;
}

.home-page h4{
    padding-left: 0px;
}

.home-deals-text{
    flex: 87;
}

.home-deals-filter{
    flex: 13;
}

}