
.brand-img{
    width: 100%;
}

.navbar-select-box{
    display: flex;
    margin: 10px 0 0 auto;
    margin-right: -5px;
    width: 30%;
}

.navbar-select-icon{
    flex: 30;
    
}

.navbar-select-main{
    flex: 70;
}

.navbar-select{
    margin-top: 5px;
    border: none;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}



@media (min-width: 1025px) and (max-width: 1280px){
    
}