
.brand-img{
    width: 7rem;
}
.custom-font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}


@media (min-width: 1025px) and (max-width: 1280px){
    
    .brand-img{
        width: 8rem;
    }

}