
.list-item{
    display: flex;
    width: 95%;
    margin: 0 auto;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.list-item-img{
    flex: 25;
    background-color: #F5F5F5;
    border-radius: 10px;
    text-align: center;
}

.list-item-img img{
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.list-item-name{
    flex: 40;
    display: table;
    font-weight: 600;

}

.list-item-price{
    flex: 25;
    display: table;
    font-weight: 800;
    text-align: right;

}

.list-item-name span,.list-item-price span{
    display: table-cell;
    vertical-align: middle;
    font-size: 0.8rem;
    padding-left: 10px;
}

@media (min-width: 1025px){

}